<form
  id="registrationForm"
  [formGroup]="registrationForm"
  (ngSubmit)="openDialog()"
>
  <div class="form-group">
    <div class="divTableLeft">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell" id="name">
            <mat-label>Name</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                id="nameInput"
                formControlName="name"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell" id="email">
            <mat-label>Email</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="email"
                id="emailInput"
                formControlName="email"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell" id="city">
            <mat-label>City</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="string"
                id="cityInput"
                formControlName="city"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell" id="street">
            <mat-label>Street</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                id="streetInput"
                formControlName="street"
              />
            </mat-form-field>
          </div>
          <div class="divTableCell" id="zip">
            <mat-label>Zip-Code</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="number"
                id="zipInput"
                formControlName="zipCode"
              />
            </mat-form-field>
          </div>
        </div>
        <div id="passwordForm">
          <div class="divTableRow">
            <div class="divTableCell" id="password1">
              <mat-label>Password</mat-label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  type="password"
                  id="passwordInput"
                  formControlName="password1"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell" id="passwordConfirm">
              <mat-label>Confirm password</mat-label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  type="password"
                  id="passwordConfirm"
                  formControlName="password2"
                  required
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divTableRight">
      <div class="divTableBody">
        <div class="divTableRowRight">
          <div class="divTableCell" id="instructionsHeadline">
            <h1>Where do you find the Serial number of your oven?</h1>
          </div>
        </div>
        <div class="divTableRowRight">
          <div class="divTableCellInstructions" id="instructions">
            {{ instructions | async }}
          </div>
          <div class="divTableCellImage" type="image" id="serialImage"></div>
        </div>
        <div class="divTableRowRight">
          <div class="divTableCell" id="serial">
            <mat-label>Serial Number</mat-label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                id="serialInput"
                formControlName="serial"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="divTableRowRight">
          <div class="divTableCellCheckbox" id="licenseCheckbox">
            <mat-checkbox
              color="primary"
              formControlName="checkbox"
            ></mat-checkbox>
          </div>
          <div class="divTableCellLicenseLink" id="licenseLink">
            <b>I accept the</b>
          </div>
          <div class="divTableCellLicenseLink" id="licenseLink">
            <button mat-flat-button id="termsAndConditions" color="primary">
              Terms and Conditions
            </button>
          </div>
          <div class="divTableCellButton" id="submitButtonCell">
            <button
              mat-flat-button
              id="submit"
              color="primary"
              [disabled]="!registrationForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
