<form>
    <div class="form-group">
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCellLeft">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCellLeft"> 
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCellLeft">                    
                        <mat-form-field appearance="outline">
                            <mat-label>Street</mat-label>
                            <input matInput type="text"/>
                        </mat-form-field>
                    </div>
                    <div class="divTableCellLeft">                        
                        <mat-form-field appearance="outline">
                            <mat-label>Zip-Code</mat-label>
                            <input matInput type="number"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCellLeft">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCellLeft"> 
                        <mat-form-field appearance="outline">
                            <mat-label>Password confirm</mat-label>
                            <input matInput type="password"/>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCellRight">
                        <h1>Where do you find the Serial number of your oven?</h1>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCellInstructions">{{ instructions | async }}
                    </div>
                    <div class="divTableCellImage"></div>
                </div>
            </div>
        </div>
    </div>
</form>