h1{
    text-transform: uppercase;
}

.form-group {
    display: flex;
    opacity: 1;
}

.divTableLeft{
    margin-left: 5%;
    min-width: 444px;
    width: 50%;
    display: -webkit-inline-box; /*Chrome Inline Box */
    display: -moz-inline-box; /*Mozilla Inline Box */
}

.divTableRight{
    margin-right: 5%;
    margin-bottom: 25px;
    min-width: 515px;
    width: 50%;
    align-self: center;
    outline: solid;
    display: -webkit-inline-box; /*Chrome Inline Box */
    display: -moz-inline-box; /*Mozilla Inline Box */
}

.divTableBody{
    max-width: fit-content;
}

.divTableRow {
    display: flex;
}

.divTableRowRight{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
}

.divTableCell { 
    margin: 10px;
    width: stretch;
}

.divTableCellInstructions { 
    margin: 10px;
    width: 30%;
    font-size: 16px;
}

.divTableCellImage { 
    content: url("/../assets/images/TutorialSerialnumber.jpg");
    margin: 10px;
    width: 70%;
    max-width: 300px;
}

.divTableCellCheckbox{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.divTableCellLicenseLink{
    margin-right: auto;
    margin-top: 12px;
    margin-left: 5px;
}

.divTableCellButton{
    height: 50px;
    width: 145px;
}

.mat-flat-button{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}

.mat-checkbox{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}

mat-form-field {
    width: stretch;
}


.mat-form-field-wrapper {
    padding: 0px !important;
}

.mat-input-element{
    color: #2699FB;
}

.mat-form-field-label{
    color: #2699FB;
}

mat-checkbox::ng-deep.mat-checkbox-inner-container {
    width: 30px;
    height: 30px;
}
