h1{
    text-transform: uppercase;
}

.form-group {
    display: flex;
    opacity: 1;
}

.divTableLeft{
    margin-left: 5%;
    min-width: 444px;
    width: 50%;
    display: -webkit-inline-box; /*Chrome Inline Box */
    display: -moz-inline-box; /*Mozilla Inline Box */
}

.divTableRight{
    margin-right: 5%;
    margin-bottom: 25px;
    border-radius: 5px;
    min-width: 515px;
    width: 50%;
    align-self: center;
    box-shadow: 0 0 16px #7FC4FD;
    display: -webkit-inline-box; /*Chrome Inline Box */
    display: -moz-inline-box; /*Mozilla Inline Box */
}

.divTableBody{
    max-width: fit-content;
    border-radius: 10px;
}

.divTableRow {
    display: flex;
    padding-bottom: 7px;
}

.divTableRowRight{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
}

.divTableCell { 
    margin: 10px;
    width: stretch;
}

.divTableCellInstructions { 
    margin: 10px;
    width: 30%;
    font-size: 16px;
}

.divTableCellImage { 
    content: url("/../assets/images/TutorialSerial.jpg");
    margin: 10px;
    width: 70%;
    max-width: 300px;
    outline: dotted;
}

.divTableCellCheckbox{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.divTableCellLicenseLink{
    margin-right: auto;
    margin-top: 12px;
    margin-left: 5px;
}

.divTableCellButton{
    height: 50px;
    width: 145px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.mat-flat-button{
    display: block !important;
    border-radius: 10px;
    width: 100% !important;
    height: 100% !important;
    background-color: #2699FB;
}

.mat-checkbox{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}

mat-form-field {
    width: stretch;
}

.mat-input-element{
    color: #2699FB;
}

mat-checkbox::ng-deep.mat-checkbox-inner-container {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #F1F9FF;
    box-shadow: 0 0 3px #7FC4FD;
}

::mat-checkbox mat-primary mat-checkbox-checked{
    background-color: #2699FB;
    color: #2699FB;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #2699FB;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border: 10px;
  }

/* NOTIZEN

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #2699FB;
    outline: none;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #2699FB;
    outline: none;
  }

  */