mat-card{
    min-width: max-content;
    max-width: 1366px;
    max-height: 633px;
    padding: 0px 110px;
    margin: 0px 100px;
}

h1 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
  }