/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: OpenSans, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white !important;
    border-radius: 5px !important;
    color: #2699FB !important;
    outline-width: 2px !important;
}
